.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "title-container"
    "datetime-container"
    "button-container"
    "message-container"
    "cost-container"
    "payment-container"
    "radio-container"
    "debug-container";
  justify-items: stretch;
  align-items: stretch;
}
.title-container {
  grid-area: title-container;
}
.datetime-container {
  grid-area: datetime-container;
}
.button-container {
  grid-area: button-container;
}
.message-container {
  grid-area: message-container;
}
.cost-container {
  grid-area: cost-container;
}
.payment-container {
  grid-area: payment-container;
}
.radio-container {
  grid-area: radio-container;
}
.debug-container {
  grid-area: debug-container;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: #d9176e;
}
.title-text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "TAXI", "Roboto";
}
.title-text p,
.datetime-text p {
  margin: 5px 0 0 0;
}

.datetime-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 20px;
  width: 90%;
}
.datetime-text {
  color: #d9176e;
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  width: 90%;
}

.message-container {
  margin: 0 20px;
}
.message-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-location {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px #888888;
}

.coordinates-container {
  width: 100%;
}
.coordinates-text {
  color: #d9176e;
}

.cost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  border: 5px solid red;
  border-radius: 10px;
  background-color: #252525;
}
.cost-text {
  color: red;
  padding: 10px;
  font-size: fit-content;
  font-family: "DSDIGI", "Roboto";
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.tarifa-number {
  text-align: left;
  justify-content: center;
  margin-right: 75px;
  font-size: 85px;
}
.costo-number {
  text-align: center;
  font-size: 85px;
}

.speed-container {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  width: 90%;
  font-weight: bold;
}
.speed-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d9176e;
  float: left;
}

.payment-container {
  margin: 0 20px 20px 20px;
}
.payment-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-label-left {
  margin: 20px;
  color: #d9176e;
  float: left;
  margin: 0;
  margin-right: auto;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: bold;
}
.payment-label-right {
  margin: 20px;
  color: #d9176e;
  float: right;
  margin: 0;
  margin-left: auto;
  white-space: nowrap;
  padding-left: 10px;
  font-weight: bold;
}
.payment-label-right-top {
  margin: 20px;
  background-color: #d9176e;
  color: white;
  float: right;
  margin: 0;
  margin-left: auto;
  white-space: nowrap;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px #888888;
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #d9176e;
}
.radio-container {
  gap: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 20px 20px 20px 0;
}
.label-radio-title {
  color: #fff;
  background-color: #d9176e;
  font-weight: bold;
  font-size: large;
  padding: 5px;
}
.label-radio {
  color: #d9176e;
}
.radio-container ion-list {
  padding: 0;
  gap: 0;
}
.radio-container ion-list ion-item ion-radio {
  padding: 0;
  margin: 0;
  border-bottom: 2px dotted #d9176e;
}

.cb {
  color: #d9176e;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.debug-container {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  margin: 20px;
  width: 90%;
  border: 2px solid red;
  padding: 10px;
  border-radius: 10px;
}
.debug-text {
  color: yellow;
}

@font-face {
  font-family: "DIGITAL";
  src: url("../../assets/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "TAXI";
  src: url("../../assets/fonts/TaxiDriver.ttf");
}

@font-face {
  font-family: "ARCADE";
  src: url("../../assets/fonts/ARCADE.TTF");
}
@font-face {
  font-family: "DSDIGI";
  src: url("../../assets/fonts/DS-DIGI.TTF");
}
@font-face {
  font-family: "METRODF";
  src: url("../../assets/fonts/METRO-DF.TTF");
}

.debug-button {
  margin: 0 0 0 20px;
}

// Prueba

.speedometer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.speedometer {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid #d9176e;
  border-radius: 50%;
  background-color: #252525;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 80px;
  background-color: #d9176e;
  transform-origin: bottom center;
  transform: translate(-50%, -100%);
}

.speedometer-text {
  margin-top: 10px;
  color: #d9176e;
  font-size: 24px;
  font-weight: bold;
}
